* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    background-color: #161616;
    height: 100vh;
}

.grid-container > * {
    border: 1px solid black;
    border-radius: .6rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.grid-container {
    display: grid;
    min-height: 100%;
    padding: 10px;
    gap: 10px;
    grid-template: 
    "navbar       navbar"  60px
    "code-container console-container" auto
    / 60% 40%  ;
}

.navbar {
    color: #ebebeb;
    background-color: #313131;
    padding: 15px;

    grid-area: navbar;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar .btn-op {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.navbar .btn-op button {
    padding: .5rem .8rem;
    font-size: .9rem;
    font-weight: bold;
    border: none;
    border-radius: .6rem;
    cursor: pointer;
    transition: all 0.2s ease;
    transform: translateY(-1px);
    box-shadow: 0 4px 0 rgba(255, 255, 255, 0.411);
}

.navbar .btn-op button:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.411); 
}

section {
    background-color: #313131;
    padding: 15px;
}

.code-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.code-container {
    grid-area: code-container;
}

.console-container {
    grid-area: console-container;
}

.title-section {
    color: #ebebeb;
    font-size: 1rem;
    font-weight: 600;
}

.editor-container {
    display: flex;
    background: #1e1e1e;
    color: #d4d4d4;
    border-radius: .6rem;
    overflow: hidden;
    height: 100%;
    font-family: monospace;
    font-size: 14px;
}

.line-numbers {
    background: #252526;
    color: #858585;
    padding: 8px 10px;
    text-align: right;
    user-select: none;
    overflow: auto;
    white-space: pre;
    line-height: 1.4em;
    font-family: monospace;
    height: 100%;
}


.code-editor {
    flex: 1;
    border: none;
    padding: 8px 10px;
    resize: none;
    outline: none;
    background: #1e1e1e;
    color: #d4d4d4;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.4em;
    overflow: auto;
    height: 100%;
}

.console {
    padding: 10px;
    background: #1e1e1e;
    border: none;
    border-radius: .6rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #d4d4d4;
    font-size: 14px;
    font-family: monospace;
}

.editor-container,
.console {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

a.developer {
    color: #161616;
    text-decoration: none;
    font-size: .8rem;
    font-weight: 600;
    display: block;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: .4rem .4rem 0 0;
    background-color: rgba(255, 255, 255, 0.5);
}

@media(max-width:768px){
    .grid-container {
        display: grid;
        min-height: 100%;
        padding: 10px;
        gap: 10px;
        grid-template: 
        "navbar       navbar"  60px
        "code-container console-container" auto
        / 60% 40% ;
    }
}

@media (max-width:450px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100vh;
    }

    .code-container,
    .console-container {
        flex: 1;
        transition: all 0.3s ease;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .title-section {
        cursor: pointer;
        background: none;
        border-radius: .4rem;
    }

    .collapsed {
        flex: 0 0 50px;
    }
    .collapsed .editor-container,
    .collapsed #result {
        display: none;
    }

    .expanded {
        flex: 1;
    }
}